* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr; /* auto определяет ширину первой колонки, которая равна самому широкому элементу <dt> (auto можно заменить на fit-content(10em), если необходимо её ограничить) */
}

dt {
    min-width: 0; /* более привычное поведение при переполнении */
}

dd {
    margin: 0 0 0 1em;
}

a {
    transition: color 0.15s linear;
    text-decoration: none;
}

body {
    padding: 16px;
    margin: 0;
}

.main-profile {
    width: 600px;
}

.content {
    transition: margin-left .5s;
    width: 100%;
}

.mobilemenu-button {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #242424;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav ul {
    width: 100%;
    padding-left: 40px;
    list-style-type: none;
}

.sidenav ul li {
    width: 100%;
    height: 48px;
    margin-bottom: 6px;
}

.sidenav ul li a, .sidenav ul li b {
    color: #fff;
    padding-left: 20px;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-bottom: 6px;
}

.main-profile__header {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #e7ebee;

    padding-top: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-profile__header__photo {
    border-radius: 50%;
}

.main-profile__header__photo img {
    width: 120px;
    border-radius: 50%;

}

.main-profile__header__description .main-profile__header__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.main-profile__header__description .main-profile__header__subtitle {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    color: #878787;
}

.fixed-container {
    height: 100%;
    display: flex;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.icons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.icons-list__item {
    flex: 0 0 33.33%;
    font-size: 16px;
    line-height: 16px;
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
}

.icons-list__item a {
    color: #373737;
    line-height: 20px;
}

.icons-list__item a i {
    margin-right: 4px;
}

.icons-list__item a:hover {
    color: #874be8;
    text-decoration: none;
}

.link {
    color: #874be8;
}

.main-profile__body {
    margin-bottom: 30px;
}

.main-profile__body p {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 16px;
}

.main-profile__footer-projects-footer {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #e7ebee;
}

ol {
    list-style-type: none;
}

.projects-list ol {
    padding-left: 16px;
}


.projects-list li {
    position: relative;
}

.projects-list li a {
    left: 28px;
    position: absolute;
    color: #373737;
}

.projects-list li a:hover {
    color: #874be8;
    text-decoration: none;
}


p.projects-list__year {
    font-size: 18px;
}